*{
    background-color: #13131F ;
    font-family: cursive;
}
body{
    padding-top: 10px;
 }
html{
    height: 100%;
}
/*Configurações do menu*/
.container{
    max-width: auto;
    margin: auto;
   
    
}
/*fixação do menu*/
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: none;
    padding: 1px;
    text-align: center;
    z-index: 1000; /*garante que menu fique em 1° plano*/
    border-bottom: 3px solid #8257E6; /*linha abaixo do menu*/
}
header{
    width: 100%;        
}
header ul{
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    align-items: center;
    font-size: 25px;    
}

/*espaçamento menu*/
header ul li{
    display: inline-block;       
    margin-right: 20px;
    justify-content: flex-end;
}
/*efeito hover do menu*/
header ul li a{
    color: #8257E6;
    text-decoration: none;
    padding: 2px 8px;
    border-bottom: none;
       
}
/*efeito hover do menu*/
nav ul li a:hover{
    border-bottom: 2px solid #8257E6;
}
/*Configurações da home*/
.intro h1,.intro h2,.intro h3 {
    line-height: 0.5; /* reduzir o espaçamento entre as linhas */
}
.intro{
    margin-left: 200px;
}
.intro h1{   
    color: #ffffff;
    font-size: 50px;          
}
.intro h2{
    color: #8257E6;
    font-size: 50px;    
}    
.intro h3{  
    color: #7a7a7a; 
    font-size: 30px;   
}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px; /*espaço entre intro e logo*/
    margin-top: 200px;

}

/*efeito de digitação no michael allan*/
#typing-text {
    overflow: hidden; /*esconde o texto*/
    width: 100%;
    white-space: nowrap; /* não quebrar linha */
    border-right: 5px solid #000; /* borda para simular a digitação */
    animation: typing 3s steps(40, end); /* animação de digitação */
    line-height: 0.9; /*define o tamanho do texto que ira aparecer*/
  }
  
  @keyframes typing {
    from {
      width: 0%; /* largura inicial do texto */
    }
    to {
      width: 100%; /* largura final do texto */
    }
}
.logo img{
    width: 350px;
    height: auto;
    margin-right: 200px;
    vertical-align: middle;
    
}
.sobre{
    margin-top: 150px;    
    text-align: center;    
}
.sobre h2{
    color: #ffffff;
    font-size: 40px;
}
.sobre p{
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 40px;
    color: #7a7a7a;
    font-size: 25px;    
}
/*Configuração de formação*/
.formacao{
    margin-top: 10px;    
    text-align: center;
}
.formacao h2{
    color: #ffffff;
    font-size: 40px;
}
.formacao p{
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 40px;
    color: #7a7a7a;
    font-size: 25px;    
}
/*configuração de imagens de habilidades*/
.habilidades{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;      
}
.habilidades img{
    width: 100px;
    height: 100px;    
    padding: 35px;
    margin-top: 10px;
    margin-bottom: 5px;       
}
/*efeito hover na img*/
.habilidades img:hover{
    width: 130px;
    height: 130px;

}
/*configuração de projetos*/

.projetos h2{
    text-align: center;    
    color: #ffffff;
    font-size: 40px;
    margin-top: 150px;
}
.projetos h3{
    text-align: center;    
    font-size: 25px;
    color: #7a7a7a;
}

.contato{
    text-align: center;    
    color: #ffffff;
    font-size: 40px;
}
.contatologos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/*efeito hover na img*/
.contatologos img:hover{
    width: 130px;
    height: 130px;
}
/* Confirguração das imagens */
.contatologos img{
    width: 100px;
    height: 100px;    
    padding: 35px;
    margin-bottom: 100px;       
}
.contatoform{      
    color: #ffffff;
    font-size: 30px;
    margin-bottom: 20px;    
}
/* Confirguração do campo nome */
#nome{
    width: 300px;
    background-color: #ffffff;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
/* Confirguração do campo email */
#email{
    width: 300px;
    background-color: #ffffff;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
/*configuração da caixa de texto*/
#mensagem {
    height: 200px;
    width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffff;   
    resize: both; /* permite redimensionar a caixa de texto */
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }
  /* Confirguração do botão */
  .botao {
    background-color: #ffffff; /* cor de fundo branca */
    color: #000000; /* cor de texto preto */
    border: none; /* remove borda */
    padding: 10px 20px; /* adiciona padding para aumentar o tamanho do botão */
    font-size: 16px; /* aumenta o tamanho da fonte */
    cursor: pointer; /* muda o cursor para uma mãozinha */
  }